body {
    width : 100%;
    overflow : hidden;
    font-family: 'Nanum Brush Script', cursive;
}

.nav-container {
    display : flex;
    flex-direction : row;
    width : 100%;
    height : 70px;
    margin : 0;
    padding : 0;
    background-color : #40c3ff;
    list-style-type : none;
    position : fixed;
    top : -70px;
    transition : 1s;
}

.nav-container.active {
    transform : translateY(70px);
}

header {
    margin-top : 80px;
}

.nav-item {
    padding : 15px;
    cursor : pointer;
    transition : all 1s;
}

.nav-item a {
    text-align : center;
    text-decoration : none;
    color : white;
    font-size : 2em;
    padding-left : 50px;
}

.nav-item:hover {
    background-color : lightskyblue;
}

.banner {
    position : relative;
    width : 100%;
    min-height : 100vh;
    background-image : url(./pic2.jpeg);
    background-size : cover;
    display : flex;
}

.content h1{
    font-size : 70px;
    width : 100%;
    display : flex;
    top : 20px;
    position : absolute;
    justify-content: center;
    font-family: 'Nanum Brush Script', cursive;
}

header #toggle {
    position : relative;
    width : 30px;
    height : 30px;
    left : 1em;
    cursor : pointer;
    bottom : 3.7em;
    transition : all 1s;
}

header #toggle:before {
    content : '';
    position : absolute;
    top : 7px;
    width : 100%;
    height : 2px;
    background-color : #000;
}

header #toggle:after {
    content : '';
    position : absolute;
    bottom : 7px;
    width : 100%;
    height : 2px;
    background-color : #000;
}

header #toggle.active {
    z-index : 2;
}

header #toggle.active:before {
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%) rotate(45deg)
}

header #toggle.active:after {
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%) rotate(-45deg);
}

.container {
    position : absolute;
    top : 250px;
    left : 160px;
    width : 1100px;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-wrap : wrap;
    padding : 30px;
}

.container .card {
    position : relative;
    max-width : 300px;
    height : 215px;
    background : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    justify-content: center;
    align-items: center
}

.container .card:hover {
    height : 420px;
}

.container .card .imgbx {
    position : relative;
    width : 240px;
    height : 200px;
    top : -60px;
    z-index : 1;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    display : flex;
    justify-content: center;
    align-items: center;
}

.container .card .imgbx img {
    max-width : 100%;
    height : 200px;
    border-radius : 4px;
}

.container .card .img_content {
    position : relative;
    margin-top : -140px;
    padding : 10px 15px;
    text-align : center;
    color : #111;
    visibility: hidden;
    opacity : 0;
    transition : 0.3s ease-in-out
}

.container .card:hover .img_content {
    visibility: visible;
    opacity : 1;
    margin-top : -60px;
    transition-delay : 0.3s;
}

@media screen and (max-width : 768px) {

    .content h1{
        font-size : 40px;
    }

    .nav-item {
        padding : 20px;
    }

    .nav-item a {
        font-size : 1em;
    }

    .container {
        position : absolute;
        top : 100px;
        left : 50px;
        width : 400px;
        display : flex;
        flex-direction : row;
        justify-content: space-evenly;
        align-items: start;
    }

    .container .card {
        position : relative;
        max-width : 100px;
        height : 120px;
        background : #fff;
        margin : 20px 10px;
        padding : 30px 10px;
        display : flex;
        justify-content: center;
        align-items: center;
        border-radius : 10px;
    }

    .container .card:hover {
        height : 150px;
    }

    .container .card .imgbx {
        position : relative;
        width : 100px;
        height : 30px;
        top : -40px;
    }

    .container .card .imgbx img {
        max-width : 100%;
        height : 120px;
        border-radius : 10px;
    }

    .container .card .img_content {
        margin-top : -140px;
        padding : 10px 15px;
    }

    .container .card:hover .img_content {
        margin-top : 10px;
    }

    .container .card .img_content h2,p {
        font-size : 1em;
    }

}